// Specific CSS for your home-page

body {
  background-color: black;
}

.parent-header {
   background-color: #1A0A0A;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin-top: 50px;
}

.show-content {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.show-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

h2 {
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  margin-top: -18px;
  margin-bottom: 100px;
}

h3 {
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.footer {
  a {
    text-decoration: none;
    color: white;
    margin-bottom: 40px;
  }

}

.header {
  text-align: center;
  margin-top: -300px;
  width: 100vw;
  padding: 200px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-left: 20px;
}

.grid-item {
  width: 100vw;
  text-align: center;
}

.add-cocktail {
  vertical-align: center;
  text-align: center;
}


.create-cocktail {
  color: #FDE250;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}


.card-category {
  background-position: center;
  width: 33vw;
  height: 33vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a {
    text-decoration: none;
    color: white;
  }
}

.show-header {
  text-align: center;
  margin-bottom: 100px;
}

.doses {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: between;
  a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    &:hover {
        color:grey;
    }
  }
}

.destroy_dose {
  color: grey;
}

.options {
  margin-top: 100px;
}

.fa-trash {
  font-size: 10px;
}


.form-container {
  width: 600px;
}




